.DS_Store
RickAndMorty.xcodeproj/project.xcworkspace/xcuserdata/avii.xcuserdatad/UserInterfaceState.xcuserstate
RickAndMorty.xcodeproj/project.xcworkspace/xcuserdata/avii.xcuserdatad/Bookmarks/bookmarks.plist
