.DS_Store
RickAndMorty.xcodeproj/project.xcworkspace/xcuserdata/avii.xcuserdatad/UserInterfaceState.xcuserstate
RickAndMorty.xcodeproj/project.xcworkspace/xcuserdata/avii.xcuserdatad/Bookmarks/bookmarks.plist
RickAndMorty.xcodeproj/xcuserdata/avii.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
